<div name="fieldName" class="form-control" ngDefaultControl>
    <h1 ngClass="h1-add">Add ads</h1>

    <div ngClass="div-ads" id="addPhoto">
        <h3>Photo</h3>
        <input type="file" ngClass="img-add" />
    </div>

    <div ngClass="div-ads" id="addTitle" required>
        <h3>Title</h3>
        <input type="text" [(ngModel)]="ads.title" />
    </div>


    <div ngClass="div-ads" id="selectCatefory">
        <h3>Category</h3>
        <select [(ngModel)]="selectedCategory" [(ngModel)]="ads.category">
            <option>{{ category.realty }}</option>
            <option>{{ category.computer }}</option>
        </select>

        <div *ngIf="selectedCategory === category.realty" name="typeRealty">
            <h3>Type of Realty</h3>
            <select [(ngModel)]="selectedTypeRealty" [(ngModel)]="ads.typeRealty">
                <option>{{ typeRealty.flat }}</option>
                <option>{{ typeRealty.house }}</option>
                <option>{{ typeRealty.ground }}</option>
                <option>{{ typeRealty.garage }}</option>
                <option>{{ typeRealty.commercialRealty }}</option>
            </select>

            <div *ngIf="selectedTypeRealty" ngDefaultControl>
                <h3>Type deal</h3>
                <select [(ngModel)]="ads.typeDeal">
                    <option>Sell</option>
                    <option>Rent</option>
                </select>
            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.house" ngDefaultControl>
                <h3>Type of house</h3>
                <select [(ngModel)]="ads.typeHouse">
                    <option>House</option>
                    <option>Cottage</option>
                    <option>Country house</option>
                    <option>Townhouse</option>
                    <option>Other</option>
                </select>

            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                        selectedTypeRealty === typeRealty.house ||
                        selectedTypeRealty === typeRealty.commercialRealty" ngDefaultControl>
                <h3>Count rooms</h3>
                <select [(ngModel)]="ads.countRooms">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5 and more</option>
                </select>
            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.commercialRealty" ngDefaultControl>
                <h3>Type of commercial</h3>
                <select [(ngModel)]="ads.typeCommercial">
                    <option>Office</option>
                    <option>Shops, commercial premises</option>
                    <option>Industrial premises</option>
                    <option>Storage</option>
                    <option>Other commercial</option>
                </select>
            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.house ||
                        selectedTypeRealty === typeRealty.ground" [(ngModel)]="ads.landArea" ngDefaultControl>
                <h3>Land area</h3>
                <input type="number" />
            </div>
            <div *ngIf="selectedTypeRealty" [(ngModel)]="ads.totalArea" ngDefaultControl>
                <h3>Total area</h3>
                <input type="number" />
            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                        selectedTypeRealty === typeRealty.house" [(ngModel)]="ads.livingSpace" ngDefaultControl>
                <h3>Living space</h3>
                <input type="number" />
            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                        selectedTypeRealty === typeRealty.commercialRealty" [(ngModel)]="ads.floor" ngDefaultControl>
                <h3>Floor</h3>
                <input type="number" />
            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.flat ||
                        selectedTypeRealty === typeRealty.house ||
                        selectedTypeRealty === typeRealty.commercialRealty" [(ngModel)]="ads.floorsHouse" ngDefaultControl>
                <h3>Floors of the house</h3>
                <input type="number" />
            </div>
            <div *ngIf="selectedTypeRealty === typeRealty.flat || 
                        selectedTypeRealty === typeRealty.house" ngDefaultControl>
                <h3>Years of construction</h3>
                <input type="number" [(ngModel)]="ads.yearConstraction" ngDefaultControl />
            </div>
        </div>
    </div>

    <div ngClass="div-ads" id="addDiscription" required>
        <h3>Description</h3>
        <textarea name="description" cols="40" rows="10" [(ngModel)]="ads.description"></textarea>
    </div>

    <div ngClass="div-ads" id="addPrice" required>
        <h3>Price</h3>
        <input type="number" [(ngModel)]="ads.price" />
    </div>

    <div ngClass="div-ads" id="addButton">
        <button ngClass="button-add" (click)="saveAds()">Add</button>
    </div>
</div>